@model IEnumerable<LCHB_BookingsMng.Models.RoomType>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomTypeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomTypeImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeePerNight)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomTypeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomTypeImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeePerNight)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RoomTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RoomTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RoomTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
