@model LCHB_BookingsMng.Models.Bill

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingRoomNav)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingRoomNav.BookingEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingServiceNav)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingServiceNav.BookingServiceId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BillId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
