@model IEnumerable<LCHB_BookingsMng.Models.Bill>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PayId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingRoomNav)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingServiceNav)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PayId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingRoomNav.BookingEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingServiceNav.BookingServiceId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BillId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BillId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BillId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
