@model IEnumerable<LCHB_BookingsMng.Models.BookingRoom>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh Sách Đặt Phòng</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.BookingFromDate) *@ Ngày Đến
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.BookingToDate) *@ Ngày Đi 
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.BookingEmail) *@ Email
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.RoomNav) *@ Phòng
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.RoomServiceNav) *@ Dịch Vụ 
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.StatusPaymentNav) *@ Trạng Thái
            </th>
            <th>Quyền</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingFromDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingToDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNav.RoomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomServiceNav.RoomServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusPaymentNav.PaymentStatus)
            </td>
            <td>
                @* <a asp-action="Edit" asp-route-id="@item.BookingId">Edit</a> | *@
                <a asp-action="Details" asp-route-id="@item.BookingId">Chi Tiết</a> |
                @* <a asp-action="Delete" asp-route-id="@item.BookingId">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
